.footer__copyrights {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 92px auto 24px auto;
}

@media screen and (max-width: 600px) {
    .footer__copyrights {
        margin: 64px auto 24px auto;
    }
}