.footer__copyrights {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 92px auto 24px auto;
}

@media screen and (max-width: 600px) {
    .footer__copyrights {
        margin: 64px auto 24px auto;
    }
    .footer {
        min-width: 164px;
        width: 320px;
        margin: 0 auto 0 auto;
    }
}