.header__logo {
    width: 17.59vw;
    height: 17vh;
    display: flex;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 1000px) {
    .header__logo {
        width: 270px;
        height: 70px;
        display: flex;
        margin: 0 auto 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .header__logo {
        width: 63vw;
        height: 16vh;
        display: flex;
        margin: 0 auto 0 auto;
    }
}