.lead {
    width: 984px;
    margin: 90px auto 0 auto;
}

.lead__title {
    width: 984px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto 0 auto;
    text-align: center;
    color: #FFFFFF;
}

.lead__subtitle {
    width: 984px;
    margin: 32px auto 64px auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.lead__image {
    width: 984px;
    height: 615px;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 1000px) {
    .lead {
        width: 100%;
        margin: 140px auto 0 auto;
    }
    .lead__title {
        width: 100%;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        margin: 0 auto 0 auto;
        text-align: center;
        color: #FFFFFF;
    }
    .lead__subtitle {
        width: 100%;
        margin: 32px auto 36px auto;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }
    .lead__image {
        width: 100%;
        height: 615px;
        margin: 0 auto 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .lead {
        width: 100%;
        margin: 50px auto 0 auto;
    }
    .lead__subtitle {
        width: 288px;
        margin: 16px auto 40px auto;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    .lead__image {
        width: 100%;
        margin: 0 auto 0 auto;
    }
    .lead__title {
        width: 288px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        color: #FFFFFF;
        margin: 0 auto 0 auto;
    }
}

@media screen and (max-width: 450px) {
    .lead__image {
        width: 100%;
        margin: 0 auto 0 auto;
        max-height: 200px;
    }
}