.logo {
    width: 17.59vw;
    height: 17vh;
    position: absolute;
    left: 39.45%;
    right: 39.45%;
    top: 34px;
}

@media screen and (max-width: 1000px) {
    .logo {
        width: 270px;
        height: 70px;
        position: absolute;
        left: 33.45%;
        right: 39.45%;
        top: 34px;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        width: 63vw;
        height: 16vh;
        position: absolute;
        left: 19.45%;
        top: 34px;
    }
}