.places {
    width: 77.15%;
    margin: 92px auto 92px auto;
}

@media screen and (max-width: 1000px) {
    .places {
        width: 94%;
        margin: 0 auto 92px auto
    }
}

@media screen and (max-width: 600px) {
    .places {
        width: 100%;
        height: 100%;
        margin: 0 auto 64px auto;
    }
}