.visit {
    margin: 0 48px 0 48px;
    display: flex;
    align-items: center;
    min-height: 740px;
    max-width: 1184px;
    position: relative;
}

.visit:hover::before {
    opacity: 0.3;
    transition: background-color 0.25s ease-in-out;
}

.visit__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFDFD;
    margin: 0 0 32px 0;
}

.visit__paragraf {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 32px 0;
    list-style: none;
    padding: 0;
}

.visit__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.visit__button {
    border-radius: 4px;
    transition: background-color 0.25s ease-in-out;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    width: 100%;
    background-color: #2F80ED;
    height: 48px;
    padding: 0;
    max-width: 385px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 137px;
}

.visit__button:hover {
    background: #0063d2;
}

.visit::before {
    content: "";
    background: url(../images/__overlay.jpg);
    transition: opacity 0.25s ease-in-out;
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 1000px) {
    .visit {
        background-repeat: no-repeat;
        margin: 0 auto 0 auto;
        width: 100%;
        min-height: 746px;
    }
}

@media screen and (max-width: 600px) {
    .visit {
        background-repeat: no-repeat;
        margin: 0 auto 0 auto;
        width: 100%;
        min-height: 254px;
    }
    .visit__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 0 16px 0;
    }
    .visit__paragraf {
        font-size: 14px;
        line-height: 16px;
        margin: 0 0 16px 0;
    }
}