.visit {
    background-repeat: no-repeat;
    margin: 0 48px 0 48px;
    background-image: url(../images/__overlay.jpg);
    min-height: 740px;
}

.visit__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFDFD;
    margin: 0 0 32px 0;
}

.visit__paragraf {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 32px 0;
    list-style: none;
    padding: 0;
}

.visit__backgound {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.visit__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 172vh;
    width: 100%;
    position: relative;
}

.visit__form {
    max-width: 63%;
    margin: 0 auto;
}

.visit__button {
    border-radius: 4px;
    transition: background-color 0.25s ease-in-out;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    width: 100%;
    background-color: #2F80ED;
    height: 48px;
    padding: 0;
    max-width: 385px;
}

.visit__button:hover {
    background: #0063d2;
}

.visit__fieldset-button-area {
    border: none;
    padding: 0;
    margin: 0 0 32px 0;
}

.copyrights {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 92px auto 0 auto;
}

@media screen and (max-width: 999px) {
    .visit__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .visit__form {
        max-width: 21%;
        margin: 0 auto;
    }
    .visit {
        background-repeat: no-repeat;
        margin: 0 auto 0 auto;
        background-image: url(../images/__overlay.jpg);
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .visit__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .visit {
        background-repeat: no-repeat;
        margin: 0 auto 0 auto;
        background-image: url(../images/__overlay.jpg);
        width: 100%;
        height: 740px;
    }
    .visit__title {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
        margin: 0 0 16px 0;
    }
    .visit__paragraf {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
    }
    .visit__form {
        max-width: 137px;
        margin: 0 auto;
    }
    .visit__backgound {
        width: 320px;
        height: 254px;
        z-index: -1;
    }
    .copyrights {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        margin: 64px auto 0 auto;
    }
}